@import "./common.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTextField-root {
  width: 100%;
  margin-top: 10px !important;
}

.MuiCard-root {
  box-shadow: 3px 4px 6px 4px gray !important;
}

/* Header */
.top-header {
  height: 32px;
}
.main-content {
  margin-top: 55px;
}

.btn-grp {
  button {
    margin-right: 10px;
  }
}

/* ZoomImage.css */
.zoom-image-container {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.zoom-image.zoomed {
  transform: scale(1.2); /* Increase the scale to zoom effect */
}
